h1{ text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 55px;
	text-decoration: underline;

}

h2{ text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 15px;
	padding: 5px;

 }

ul {
	padding: 20px;
	text-align: center;

}

li { 
display: inline;
margin-left: 30px;
font-family: 'Playfair Display SC', serif;
font-size: 15px;

 }

h3{
	font-size: 35px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
	color: red;
	margin-left: 50px;
	margin-right: 50px;
}

h4{
	font-size: 15px;
	font-family: 'Noto Serif', serif;
	margin-left: 65px;

}
p{
	font-size: 20px;
	padding: 20px;
	margin-left: 50px;
	margin-right: : 50px;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;


}